# --------
# requires
# --------

# --------------
# tests_requires
# --------------

# -------
# develop
# -------

Sphinx
sphinx_rtd_theme
pip

git+https://github.com/return42/sphinxjp.themes.revealjs
# -e file:../sphinxjp.themes.revealjs#egg=sphinxjp.themes.revealjs

# linuxdoc for DOT support
git+http://github.com/return42/linuxdoc.git

