# -*- coding: utf-8; mode: conf -*-
# --------
# requires
# --------

# --------------
# tests_requires
# --------------

# -------
# develop
# -------

Sphinx
pallets-sphinx-themes
sphinx-autobuild
sphinx-issues
sphinx-jinja
sphinx-tabs
sphinxcontrib-programoutput
linuxdoc
sphinxjp.themes.revealjs @ git+https://github.com/return42/sphinxjp.themes.revealjs
# -e file:../sphinxjp.themes.revealjs#egg=sphinxjp.themes.revealjs

