# --------
# requires
# --------

# --------------
# tests_requires
# --------------

# -------
# develop
# -------

Sphinx
sphinx_rtd_theme
pip

# sphinxjp.themes.revealjs: slide-shows with revaljs
git+https://github.com/return42/sphinxjp.themes.revealjs@master#egg=sphinxjp.themes.revealjs
