[Unit]
Description=Seafile
# add mysql.service or postgresql.service depending on your database to the line below
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash -c 'source ${SEAFILE_HOME}/pyenv/bin/activate && ${SEAFILE_HOME}/seafile-server-latest/seafile.sh start'
ExecStop=/bin/bash -c 'source ${SEAFILE_HOME}/pyenv/bin/activate && ${SEAFILE_HOME}/seafile-server-latest/seafile.sh stop'
User=seafile
Group=seafile

[Install]
WantedBy=multi-user.target
