[Unit]
Description=Seafile hub
After=network.target seafile.service

[Service]
Type=forking
ExecStart=/bin/bash -c 'source ${SEAFILE_HOME}/pyenv/bin/activate && ${SEAFILE_HOME}/seafile-server-latest/seahub.sh start'
ExecStop=/bin/bash -c 'source ${SEAFILE_HOME}/pyenv/bin/activate && ${SEAFILE_HOME}/seafile-server-latest/seahub.sh stop'
User=seafile
Group=seafile

[Install]
WantedBy=multi-user.target